* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: hsl(30, 54%, 90%);
}
p {
  color: gray;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 90%;
  margin: 40px auto;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: hsl(0, 0%, 100%);
}

figure {
  width: 100%;
}
img {
  width: 94%;
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 15px;
}
h2 {
  font-size: clamp(1rem, 4vw, 3.5rem);
  font-weight: 400;
  margin-bottom: 0.2em;
}
.text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
.f-section {
}

.s-section {
  background-color: hsl(330, 100%, 98%);
  padding: 35px;
  line-height: 2;
}

.s-section h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
}
.s-section ul {
  color: hsl(332, 51%, 32%);
  padding-left: 2em;
}
.s-section ul li span {
  color: black;
  word-spacing: 0.2em;
  clamp: (1.2rem, 4vw, 3.5rem);
}

h3 {
  color: hsl(14, 45%, 36%);
  clamp: (1.2rem, 4vw, 3.5rem);
}

.third-section ul {
  line-height: 2;
  color: hsl(14, 45%, 36%);
  padding-left: 1.5em;
}

.third-section ul li span {
  color: gray;
  padding-left: 1.1em;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.fourth-section ol {
  color: hsl(14, 45%, 36%);
  padding-left: 1.5em;
  line-height: 2;
}

.fourth-section ol li div {
  color: gray;
  padding-left: 1.1em;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.fourth-section ol li div strong {
  color: hsl(11, 6%, 34%);
}
.nutrations {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 0.7em;
  padding-top: 0.9em;
  width: 100%;
}
.nutrations div {
  width: 50%;
  color: gray;
  display: flex;
  justify-content: space-around;
}
.nutrations-value {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 60px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
}
